<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>JSValuePerformanceTests</key>
		<dict>
			<key>testSampleJSON_JSONLib()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Aug 17, 2014, 12:13:43 AM</string>
				</dict>
			</dict>
			<key>testSampleJSON_NSJSONSerialization()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.04</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Aug 17, 2014, 12:13:48 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
